<!-- Loading Screen -->
<div *ngIf="isLoading" class="fixed inset-0 bg-[#f5f5f5] bg-opacity-90 flex items-center justify-center z-50">
  <div class="text-center">
    <div class="loading loading-spinner loading-lg" style="color: #00bcd4;"></div>
    <p class="mt-2 text-gray-600">Cargando ...</p>
  </div>
</div>

<!-- Existing Content -->
<div class="min-h-screen bg-gray-100 py-8">
  <div class="max-w-7xl mx-auto px-6 sm:px-8 lg:px-10">
    <!-- Título fuera del recuadro -->
    <div class="mb-6">
      <h2 class="text-xl font-semibold">Detalle de Incidencia - INC{{incidencia.id}} 
        <span 
          [ngClass]="{
            'bg-blue-200 text-blue-800': incidencia.tipo_estado?.toLowerCase() === 'nuevo',
            'bg-green-200 text-green-800': incidencia.tipo_estado?.toLowerCase() === 'aceptado',
            'bg-red-200 text-red-800': incidencia.tipo_estado?.toLowerCase() === 'rechazado',
            'bg-yellow-200 text-yellow-800': incidencia.tipo_estado?.toLowerCase() === 'en revisión' || incidencia.tipo_estado?.toLowerCase() === 'en revision'
          }" 
          class="ml-2 px-2 py-1 rounded text-sm font-medium"
        >
          {{ incidencia.tipo_estado | initCapFirst }}
        </span>
        <!-- Número de Movimiento (si hay) -->
        <span 
          *ngIf="movimientoNumero" 
          [ngClass]="{
            'text-blue-800': incidencia.tipo_estado?.toLowerCase() === 'nuevo',
            'text-green-800': incidencia.tipo_estado?.toLowerCase() === 'aceptado',
            'text-red-800': incidencia.tipo_estado?.toLowerCase() === 'rechazado',
            'text-yellow-800': incidencia.tipo_estado?.toLowerCase() === 'en revisión' || incidencia.tipo_estado?.toLowerCase() === 'en revision'
          }"
          class="ml-2 text-sm font-medium"
        >
          N° Movimiento: {{movimientoNumero}}
        </span>
      </h2>
    </div>
    <!-- Contenedor blanco -->
    <div class="bg-white rounded-xl shadow-xl overflow-hidden">
      <!-- Información de cabecera -->
      <div class="grid grid-cols-1 md:grid-cols-5 gap-4 p-6 bg-[#00AFD7]">
        <div class="bg-white rounded-lg p-4 shadow-lg min-w-0 h-full">
          <p class="text-[#00AFD7] font-bold text-sm mb-3 text-center">ORIGEN</p>
          <p class="text-black-700 text-base text-center truncate">{{incidencia.bodOrigenNombre}}</p>
        </div>

        <div class="bg-white rounded-lg p-4 shadow-lg min-w-0 h-full">
          <p class="text-[#00AFD7] font-bold text-sm mb-3 text-center">DESTINO</p>
          <p class="text-black-700 text-base text-center truncate">{{bodegaNombreForm}}</p>
        </div>

        <div class="bg-white rounded-lg p-4 shadow-lg min-w-0 h-full">
          <p class="text-[#00AFD7] font-bold text-sm mb-3 text-center">TRANSPORTE</p>
          <p class="text-black-700 text-base text-center truncate">{{incidencia.transportistaNombre}}</p>
        </div>

        <div class="bg-white rounded-lg p-4 shadow-lg min-w-0 h-full">
          <p class="text-[#00AFD7] font-bold text-sm mb-3 text-center">OTS</p>
          <p class="text-black-700 text-base text-center">{{incidencia.ots == '' || incidencia.ots == null || incidencia.ots == undefined ? '-' : incidencia.ots}}</p>
        </div>

        <div class="bg-white rounded-lg p-4 shadow-lg min-w-0 h-full">
          <p class="text-[#00AFD7] font-bold text-sm mb-3 text-center">FECHA RECEPCIÓN</p>
          <p class="text-black-700 text-base text-center">{{incidencia.fechaRecepcion ? (incidencia.fechaRecepcion | date:'dd/MM/yyyy') : ''}}</p>
        </div>
      </div>

      <!-- Formulario -->
      <div class="p-8 bg-gray-50" *ngIf="incidencia.tipo_estado === 'nuevo' && originalIdBodega === incidencia.destino_id_bodega || !modoVisualizacion">
        <form #detalleForm="ngForm">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="form-control"> 
              <label class="label font-semibold text-gray-700">Tipo de Diferencia </label>
              <span class="label-text-alt text-error"> * </span><br> 
              <select class="select select-bordered w-full bg-white tipoDiferencia" [(ngModel)]="detalleIncidencia.tipoDiferencia" name="tipoDiferencia" required> 
                <option value="" disabled selected>Seleccione tipo</option> 
                <option *ngFor="let tipo of tiposDiferencia" [value]="tipo">{{tipo | initCapFirst}}</option> 
              </select> 
            </div>
            <div class="form-control">
              
              <label class="label font-semibold text-gray-700">N° Guía </label>
              <span class="label-text-alt text-error"> * </span><br>
              <input type="text" 
                     (keydown)="validateNumberInput($event)"
                     (paste)="onPaste($event)"
                     (blur)="onBlur($event, 'numGuia')"
                     class="input input-bordered w-full bg-white numGuia" 
                     [(ngModel)]="detalleIncidencia.numGuia" 
                     name="numGuia" 
                     min="1" 
                     maxlength="9"
                     placeholder="Ingrese N° documento" 
                     [disabled]="detalleIncidencia.tipoDiferencia==''"
                     (change)="onGuiaChange()" />
            </div>

            <div class="form-control">
              <label class="label font-semibold text-gray-700">SKU </label>
              <span class="label-text-alt text-error"> * </span><br>
              <div class="flex gap-4">
                <input type="text" 
                       (keydown)="validateNumberInput($event)"
                       (paste)="onPaste($event)"
                       (blur)="onBlur($event, 'sku')"
                       class="input input-bordered flex-1 bg-white sku" 
                       [(ngModel)]="detalleIncidencia.sku" 
                       name="sku" 
                       required 
                       maxlength="9"
                       placeholder="Ingrese SKU" 
                       [disabled]="!skuEnabled && (detalleIncidencia.tipoDiferencia=='faltante' || detalleIncidencia.tipoDiferencia=='')" />
                <button type="button" 
                        class="btn btn-sm flex items-center space-x-2 bg-[#00AFD7] hover:bg-[#00AFD7]/90 text-white h-10 px-4"
                        (click)="buscarProducto()">
                  <span>Buscar</span>
                </button>
              </div>
            </div>

            

            <div class="form-control">
              <label class="label font-semibold text-gray-700">Cantidad </label>
              <span class="label-text-alt text-error"> * </span><br>
              <input type="text" 
                     (keydown)="validateNumberInput($event)"
                     (paste)="onPaste($event)"
                     (blur)="onBlur($event, 'cantidad')"
                     class="input input-bordered w-full bg-white cantidad" 
                     [(ngModel)]="detalleIncidencia.cantidad" 
                     name="cantidad" 
                     required 
                     min="1" 
                     maxlength="9"
                     step="1" 
                     placeholder="Ingrese cantidad" 
                     (change)="validarCantidad()" 
                     [disabled]="!fieldsEnabled" />
            </div>



            <div class="form-control">
              <label class="label font-semibold text-gray-700">N° Bulto </label><br>
              <input type="text" 
                     (keydown)="validateNumberInput($event)"
                     (paste)="onPaste($event)"
                     (blur)="onBlur($event, 'numBulto')"
                     class="input input-bordered w-full bg-white" 
                     [(ngModel)]="detalleIncidencia.numBulto" 
                     name="numBulto" 
                     maxlength="9"
                     placeholder="Ingrese N° bulto" 
                     [disabled]="!fieldsEnabled" />
            </div>
            <div class="form-control">
              <label class="label font-semibold text-gray-700">Descripción</label><br>
              <input type="text" 
                     class="input input-bordered w-full bg-white" 
                     [(ngModel)]="detalleIncidencia.descripcion" 
                     name="descripcion" 
                     placeholder="Descripción del producto" 
                     readonly />
            </div>
            <div class="form-control">
              <label class="label font-semibold text-gray-700">Peso Origen (Kg)</label><br>
              <input type="number" 
                     (keydown)="validateNumberInput($event)"
                     (paste)="onPaste($event)"
                     class="input input-bordered w-full bg-white" 
                     [(ngModel)]="detalleIncidencia.pesoOrigen" 
                     name="pesoOrigen" 
                     min="0" 
                     step="0.01" 
                     placeholder="Ingrese peso origen" 
                     [disabled]="!fieldsEnabled" />
            </div>

            <div class="form-control">
              <label class="label font-semibold text-gray-700">Peso Recepción (Kg)</label><br>
              <input type="number" 
                     (keydown)="validateNumberInput($event)"
                     (paste)="onPaste($event)"
                     class="input input-bordered w-full bg-white" 
                     [(ngModel)]="detalleIncidencia.pesoRecepcion" 
                     name="pesoRecepcion" 
                     min="0" 
                     step="0.01" 
                     placeholder="Ingrese peso recepción" 
                     [disabled]="!fieldsEnabled"/>
            </div>

            <div class="form-control flex items-end">
              <button type="button" 
                      class="btn btn-sm flex items-center space-x-2 bg-[#00AFD7] hover:bg-[#00AFD7]/90 text-white h-10 px-4 w-full justify-center" 
                      (click)="agregarDetalle()">
                <span>Agregar detalle</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Toast -->
    <div class="toast toast-bottom toast-end z-50" *ngIf="toast?.visible">
      <div class="alert shadow-lg" [ngClass]="getToastClass(toast.tipo)">
        <div>
          <span>{{ toast.mensaje }}</span>
        </div>
      </div>
    </div>
    <!-- Tabla con mejor diseño -->
    <div class="mt-8 bg-white rounded-xl shadow-xl overflow-hidden">
      <div class="overflow-x-auto p-6">
        <table class="table w-full">
          <!-- head -->
          <thead>
           <tr class="text-black">
             <th class="text-center">N°</th>
             <th class="text-center">Tipo de Diferencia</th>
             <th class="text-center">SKU</th>
             <th class="text-center">Descripción</th>
             <th class="text-center">Cantidad</th>
             <th class="text-center">N° Documento</th>
             <th class="text-center">N° Bulto</th>
             <th class="text-center">Peso Origen</th>
             <th class="text-center">Peso Recepción</th>
             <th class="text-center" *ngIf="incidencia.tipo_estado === 'nuevo' && originalIdBodega === incidencia.destino_id_bodega || !modoVisualizacion">Acciones</th>
           </tr>
          </thead>
          <tbody>
             <tr *ngFor="let detalle of detalles; let i = index" class="hover:bg-gray-100">
               <td class="text-center">{{i + 1}}</td>
               <td class="text-center">{{detalle.tipoDiferencia | initCapFirst}}</td>
               <td class="text-center">{{detalle.sku}}</td>
               <td class="text-center">{{detalle.descripcion | initCapFirst}}</td>
               <td class="text-center">{{detalle.cantidad >= 0 ? detalle.cantidad : -detalle.cantidad}}</td>
               <td class="text-center">{{detalle.numGuia}}</td>
               <td class="text-center">{{detalle.numBulto}}</td>
               <td class="text-center">{{detalle.pesoOrigen}}</td>
               <td class="text-center">{{detalle.pesoRecepcion}}</td>
               <td class="text-center" *ngIf="incidencia.tipo_estado === 'nuevo'&& originalIdBodega === incidencia.destino_id_bodega || !modoVisualizacion" >
                <button 
                class="btn btnb btn-sm"
                [ngClass]="{
                  'btn-error': incidencia.tipo_estado !== 'nuevo',
                 
                }"
                [disabled]="incidencia.tipo_estado !== 'nuevo'"
                (click)="eliminarDetalle(i)">
                <span class="material-symbols-outlined"
                [ngClass]="{
                  'btn-error': incidencia.tipo_estado !== 'nuevo',
                  'bg-gray-300 text-gray-500 cursor-not-allowed': incidencia.tipo_estado !== 'nuevo'
                }">delete</span>
              </button>
              </td>
            </tr>
            <tr *ngIf="detalles.length === 0">
              <td colspan="10" class="text-center py-4">No hay detalles agregados</td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>

    <!-- Sección de Imagen y Observaciones -->
    <div class="flex flex-col md:flex-row gap-6 mt-8 mb-6">
      <!-- Cuadro de Imagen -->
      <div class="w-full md:w-1/2" *ngIf="modoVisualizacion">
        <div class="rounded-lg overflow-hidden shadow-lg bg-white h-full">
          <div class="p-3 border-b border-gray-200">
            <p class="font-bold text-gray-800">Evidencia de la incidencia</p>
          </div>
          <div class="p-4 flex items-center justify-center h-64">
            <div class="text-center">
              <ng-container *ngIf="incidencia.ruta; else noImagen">
                <div class="cursor-pointer hover:opacity-90 transition-opacity" (click)="openImageModal(incidencia.ruta)">
                  <img [src]="incidencia.ruta" alt="Evidencia de la incidencia" class="max-h-56 mx-auto object-contain">
                </div>
              </ng-container>
              <ng-template #noImagen>
                <div class="text-gray-400 h-full flex flex-col items-center justify-center">
                  <span class="material-symbols-outlined text-5xl mb-2">image_not_supported</span>
                  <p>No se ingresó evidencia</p>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <!-- Cuadro de Observaciones -->
      <div class="w-full md:w-1/2" *ngIf="modoVisualizacion">
        <div class="rounded-lg overflow-hidden shadow-lg bg-white h-full">
          <div class="p-3 border-b border-gray-200">
            <p class="font-bold text-gray-800">Observaciones</p>
          </div>
          <div class="p-4 h-64 overflow-y-auto">
            <ng-container *ngIf="incidencia.observaciones; else sinObservaciones">
              <p class="text-gray-700 whitespace-pre-line">{{ incidencia.observaciones }}</p>
            </ng-container>
            <ng-template #sinObservaciones>
              <div class="text-gray-400 h-full flex items-center justify-center">
                <p>No se ingresaron observaciones</p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para visualizar la imagen en tamaño completo -->
    <div *ngIf="showImageModal" class="fixed inset-0 z-50 flex items-center justify-center p-4" (click)="closeImageModal()">
      <!-- Fondo con desenfoque -->
      <div class="absolute inset-0 bg-black/30 backdrop-blur-sm"></div>
      
      <!-- Contenedor del modal -->
      <div class="relative max-w-4xl w-full max-h-[90vh] flex flex-col z-10 bg-white rounded-lg shadow-2xl overflow-hidden" (click)="$event.stopPropagation()">
        <div class="bg-white p-4 border-b border-gray-200 flex justify-between items-center">
          <h3 class="text-lg font-semibold">Evidencia de la Incidencia - INC{{incidencia.id}}</h3>
          <button (click)="closeImageModal()" class="text-gray-500 hover:text-gray-700 focus:outline-none">
            <span class="material-symbols-outlined">close</span>
          </button>
        </div>
        <div class="bg-gray-50 p-2 flex-1 overflow-auto">
          <img [src]="modalImageUrl" alt="Imagen ampliada" class="max-w-full max-h-[calc(90vh-120px)] mx-auto object-contain rounded">
        </div>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="px-8 py-6 bg-[#f5f5f5] -mx-8 mt-8 flex justify-between items-center">

      <!-- Botón Volver -->
      <button type="button"
        class="btn btn-sm flex items-center space-x-2 bg-gray-400 hover:bg-gray-500 text-white h-10 px-4"
        (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
        <span>Volver</span>
      </button>

      <!-- Botón Actualizar Detalle -->
      <button type="button" 
              *ngIf="modoVisualizacion && incidencia.tipo_estado === 'nuevo' && originalIdBodega === incidencia.destino_id_bodega"
              class="btn btn-sm flex items-center space-x-2 bg-[#00AFD7] hover:bg-[#00AFD7]/90 text-white h-10 px-4" 
              (click)="actualizarIncidencia()">
        <span>Actualizar detalle</span>
      </button>

          <!-- Botón Generar Incidencia -->
      <button type="button" 
              *ngIf="!modoVisualizacion"
              class="btn btn-sm flex items-center space-x-2 bg-[#00AFD7] hover:bg-[#00AFD7]/90 text-white h-10 px-6" 
              (click)="generarIncidencia()">
        <span>Generar incidencia</span>
      </button>
    </div>
  </div>
</div>