<div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-4 mb-4">
        <button class="btn btn-outline flex items-center space-x-2 border-[#7F3D3D] text-[#7F3D3D] hover:bg-[#7F3D3D]/10" (click)="navigateTo('/home')">
            <span class="material-symbols-outlined" style="font-size: 2rem;">
                home
            </span>
            <span class="text-lg font-semibold">Inicio</span>
        </button>
    </div>
    <br>
    <div class="">
        <h3 class="text-lg font-semibold mb-4">Lista de Usuarios</h3>    
    </div>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Email</th>                    
                    <th>Rol</th>
                    <th>Bodega</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users_list; let i = index">
                    <th>{{ i + 1 }}</th>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.nombre }}</span>
                        <input *ngIf="user.isEditing" type="text" [(ngModel)]="user.nombre" class="input input-bordered input-xs w-full max-w-xs">
                    </td>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.email }}</span>
                        <input *ngIf="user.isEditing" type="email" [(ngModel)]="user.email" class="input input-bordered input-xs w-full max-w-xs">
                    </td>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.rol! | initCapFirst }}</span>
                        <select *ngIf="user.isEditing" [(ngModel)]="user.rol" class="select select-bordered select-xs w-full max-w-xs">
                            <option *ngFor="let role of roles" [value]="role.id">{{ role.nombre }}</option>
                        </select>
                    </td>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.bodega! | initCapFirst }}</span>
                        <input *ngIf="user.isEditing" type="text" [(ngModel)]="user.bodega" class="input input-bordered input-xs w-full max-w-xs">
                    </td>
                    <td class="flex space-x-2">
                        <button *ngIf="!user.isEditing" class="btn btn-ghost btn-xs" (click)="startEditing(user)">
                            <span class="material-symbols-outlined text-blue-500">edit</span>
                        </button>
                        <button *ngIf="user.isEditing" class="btn btn-ghost btn-xs" (click)="saveUser(user)">
                            <span class="material-symbols-outlined text-green-500">save</span>
                        </button>
                        <button *ngIf="user.email !== username" class="btn btn-ghost btn-xs">
                            <span class="material-symbols-outlined text-red-500">delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>