<div class="px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center mb-4 mt-6">
        <h3 class="text-lg font-semibold"></h3>
        <button class="btn btn-sm flex items-center space-x-2 text-white" style="background-color: #00bcd4;" (click)="toggleCreateUserForm()">
            <span class="material-symbols-outlined">add</span>
            <span>Nuevo Usuario</span>
        </button>
    </div>

    <!-- User Creation Form -->
    <div *ngIf="showCreateUserForm" class="bg-base-100 border border-base-content/10 rounded-lg p-6 mb-6">
        <h4 class="text-lg font-semibold mb-4">Crear Nuevo Usuario</h4>
        <div class="grid grid-cols-3 gap-4">
            <div>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Email</span>
                    </div>
                    <input 
                        type="email" 
                        [(ngModel)]="newUser.email" 
                        (ngModelChange)="newUser.email = $event.toLowerCase()"
                        (input)="onEmailChange()" 
                        class="input input-bordered input-sm w-full" 
                        [class.input-error]="(emailInvalid || emailExists) && newUser.email"
                        [class.input-success]="!emailInvalid && !emailExists && newUser.email"
                    />
                    <div *ngIf="newUser.email" class="label p-0 mt-1 min-h-6 flex flex-col">
                        <span class="label-text-alt" [class.text-error]="emailInvalid" [class.text-success]="!emailInvalid">
                            <span *ngIf="emailInvalid">El email debe terminar en &#64;head.com</span>
                        </span>
                        <span class="label-text-alt" [class.text-error]="emailExists" [class.text-success]="!emailExists">
                            <span *ngIf="emailExists">Email no disponible</span>
                        </span>
                    </div>
                </label>
            </div>
            <div>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Usuario</span>
                    </div>
                    <input type="text" [(ngModel)]="newUser.nombre" [readonly]="true" class="input input-bordered input-sm w-full bg-base-200" />
                </label>
            </div>
            
            <div>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Contraseña</span>
                    </div>
                    <input 
                        type="password" 
                        [(ngModel)]="newUser.password" 
                        (input)="onPasswordChange()" 
                        class="input input-bordered input-sm w-full" 
                        [class.input-error]="passwordInvalid"
                        maxlength="10"
                        (keydown)="onPasswordKeyDown($event)"
                    />
                    <div class="label">
                        <span class="label-text-alt">La contraseña debe contener:</span>
                    </div>
                    <ul class="text-xs text-gray-500 pl-4">
                        <li [class.text-success]="passwordHasUppercase" [class.text-error]="!passwordHasUppercase">
                            <span *ngIf="passwordHasUppercase">✓</span> Al menos una letra mayúscula (A-Z)
                        </li>
                        <li [class.text-success]="passwordHasLowercase" [class.text-error]="!passwordHasLowercase">
                            <span *ngIf="passwordHasLowercase">✓</span> Al menos una letra minúscula (a-z)
                        </li>
                        <li [class.text-success]="passwordHasNumber" [class.text-error]="!passwordHasNumber">
                            <span *ngIf="passwordHasNumber">✓</span> Al menos un número (0-9)
                        </li>
                        <li [class.text-success]="passwordHasValidLength" [class.text-error]="!passwordHasValidLength">
                            <span *ngIf="passwordHasValidLength">✓</span> Entre 8 y 10 caracteres
                        </li>
                    </ul>
                </label>
            </div>
            <div>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Rol</span>
                    </div>
                    <select 
                        [(ngModel)]="newUser.id_rol" 
                        (change)="onRoleChange()"
                        class="select select-bordered select-sm w-full"
                    >
                        <option [ngValue]="0" disabled>Seleccione un rol</option>
                        <option *ngFor="let role of roles" [ngValue]="role.id">{{ role.nombre | initCapFirst }}</option>
                    </select>
                </label>
            </div>
            <div *ngIf="isTiendaRole">
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Bodega</span>
                        <span *ngIf="isTiendaRole && !newUser.id_bodega" class="label-text-alt text-error"></span>
                    </div>
                    <select 
                        [(ngModel)]="newUser.id_bodega" 
                        class="select select-bordered select-sm w-full"
                        [class.select-error]="isTiendaRole && !newUser.id_bodega"
                        required
                    >
                        <option [ngValue]="0" disabled>Seleccione una bodega</option>
                        <option *ngFor="let bodega of filteredBodegas" [ngValue]="bodega.id">
                            {{ bodega.id_bodega }} - {{ bodega.nombre | initCapFirst }}
                        </option>
                    </select>
                </label>
            </div>
        </div>
        <div class="flex justify-end mt-4 space-x-2">
            <button class="btn btn-ghost btn-sm" (click)="toggleCreateUserForm()">Cancelar</button>
            <button 
                class="btn btn-primary btn-sm" 
                (click)="createUser()"
                [disabled]="!isFormValid()"
                [class.opacity-50]="!isFormValid()"
                [class.cursor-not-allowed]="!isFormValid()">
                Crear Usuario
            </button>
        </div>
    </div>

    <h3 class="text-lg font-semibold">Lista de Usuarios</h3>
    <br>
    <!-- Loading Screen -->
    <div *ngIf="isLoading" class="w-full h-full flex items-center justify-center">
        <span class="loading loading-spinner loading-lg text-primary"></span>
    </div>
    
    <div *ngIf="!isLoading">
        <!-- Filtros de búsqueda -->
        <div class="flex flex-wrap gap-4 mb-4">
            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Usuario</span>
                </label>
                <input 
                type="text" 
                [(ngModel)]="filtroUsuario" 
                (input)="aplicarFiltros()"
                placeholder="" 
                class="input input-bordered w-full"
            >
        </div>
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Email</span>
            </label>
            <input 
                type="text" 
                [(ngModel)]="filtroEmail" 
                (input)="aplicarFiltros()"
                placeholder="" 
                class="input input-bordered w-full"
            >
        </div>
    </div>
    
    

    <!-- User List -->
    <div *ngIf="!isLoading" class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <div class="flex items-center gap-1 cursor-pointer" (click)="sortTable('usuario')">
                            Usuario
                            <i class="fas {{ getSortIcon('usuario') }}"></i>
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center gap-1 cursor-pointer" (click)="sortTable('email')">
                            Email
                            <i class="fas {{ getSortIcon('email') }}"></i>
                        </div>
                    </th>                    
                    <th>
                        <div class="flex items-center gap-1 cursor-pointer" (click)="sortTable('rol')">
                            Rol
                            <i class="fas {{ getSortIcon('rol') }}"></i>
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center gap-1 cursor-pointer" (click)="sortTable('bodega')">
                            Bodega
                            <i class="fas {{ getSortIcon('bodega') }}"></i>
                        </div>
                    </th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of paginatedUsers; let i = index">
                    <th>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</th>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.nombre! | initCapFirst }}</span>
                        <input *ngIf="user.isEditing" type="text" [(ngModel)]="user.nombre" class="input input-bordered input-xs w-full max-w-xs">
                    </td>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.email }}</span>
                        <input *ngIf="user.isEditing" type="email" [(ngModel)]="user.email" class="input input-bordered input-xs w-full max-w-xs">
                    </td>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.rol! | initCapFirst }}</span>
                        <select 
                            *ngIf="user.isEditing" 
                            [(ngModel)]="user.id_rol" 
                            (change)="onRoleChange()"
                            class="select select-bordered select-xs w-full max-w-xs"
                            [disabled]="!canEditRole(user.id)"
                            [class.bg-base-200]="!canEditRole(user.id)"
                            [title]="!canEditRole(user.id) ? 'No puedes modificar tu propio rol' : 'Seleccionar rol'"
                        >
                            <option [ngValue]="0" disabled>Seleccione un rol</option>
                            <option *ngFor="let role of roles" [ngValue]="role.id">{{ role.nombre | initCapFirst }}</option>
                        </select>
                    </td>
                    <td>
                        <span *ngIf="!user.isEditing">
                            <span *ngIf="user.bodega">
                                {{ user.bodega! | initCapFirst }}
                            </span>
                        </span>
                        <select *ngIf="user.isEditing" [(ngModel)]="user.id_bodega" class="select select-bordered select-xs w-full max-w-xs">
                            <option *ngFor="let bodega of bodegas" [value]="bodega.id">{{ bodega.id_bodega }} - {{ bodega.nombre | initCapFirst }}</option>
                        </select>
                    </td>
                    <td class="flex space-x-2">
                        <!-- Botón Editar/Guardar -->
                        <button *ngIf="!user.isEditing" 
                                class="btn btn-ghost btn-xs" 
                                (click)="startEditing(user)">
                            <span class="material-symbols-outlined icono-editar">edit</span>
                        </button>
                        <button *ngIf="user.isEditing" 
                                class="btn btn-ghost btn-xs" 
                                (click)="saveUser(user)">
                            <span class="material-symbols-outlined text-green-500">save</span>
                        </button>
                    
                        <!-- Botón Cancelar (solo en modo edición) -->
                        <button *ngIf="user.isEditing" 
                                class="btn btn-ghost btn-xs" 
                                (click)="cancelEdit(user)">
                            <span class="material-symbols-outlined text-red-500">close</span>
                        </button>
                        
                        <!-- Botón Eliminar (solo cuando no está en modo edición) -->
                        <button 
                            class="btn btn-ghost btn-xs"
                            (click)="deleteUser(user)"
                            [disabled]="!canDeleteUser(user.id)"
                            [class.opacity-50]="!canDeleteUser(user.id)"
                            [class.text-error]="canDeleteUser(user.id)"
                            [title]="!canDeleteUser(user.id) ? 'No puedes eliminarte a ti mismo' : 'Eliminar usuario'"
                        >
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <!-- Controles de paginación -->
        <div class="flex justify-center items-center gap-2 py-4">
            <button 
                class="btn btn-sm flex items-center justify-center" 
                [class.btn-disabled]="currentPage === 1"
                (click)="changePage(currentPage - 1)">
                <i class="fas fa-chevron-left text-sm"></i>
            </button>
            
            <div class="join">
                <button 
                    *ngFor="let page of [].constructor(totalPages); let i = index" 
                    class="join-item btn btn-sm" 
                    [class.btn-active]="currentPage === i + 1"
                    (click)="changePage(i + 1)">
                    {{ i + 1 }}
                </button>
            </div>
            
            <button 
                class="btn btn-sm flex items-center justify-center" 
                [class.btn-disabled]="currentPage === totalPages"
                (click)="changePage(currentPage + 1)">
                <i class="fas fa-chevron-right text-sm"></i>
            </button>
        </div>
    </div>
</div>