<div class="container mx-auto px-4 min-h-[85vh] flex flex-col">
  <div class="mt-4 mb-4 flex items-center justify-between">
    
  </div>

  <div class="p-4 " style="background-color: #D4D4D4;">
    <h2 class="text-xl font-bold text-right">Crear Incidencia</h2>
    <div class="card mx-auto" style="background-color: #000000">
      <div class="card-body">   
        <form (ngSubmit)="onSubmit()" #incidenciaForm="ngForm">
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Origen de la mercadería</legend>
            <select class="select" name="bodOrigen" [ngModel]="incidencia.bodOrigen" (ngModelChange)="onFieldChange('bodOrigen', $event)" [attr.readonly]="fieldsLocked" [disabled]="fieldsLocked">
                <option>APT-001 BODEGA CENTRAL</option>
                <option>LO-001 LOCAL MATIAS COUSINO</option>
                <option>LO-002 LOCAL EL BELLOTO</option>
            </select>
          </fieldset>

          <fieldset class="fieldset">
            <legend class="fieldset-legend">Transportista</legend>
            <select class="select" name="transportista" [ngModel]="incidencia.transportista" (ngModelChange)="onFieldChange('transportista', $event)" [attr.readonly]="fieldsLocked" [disabled]="!incidencia.bodOrigen || fieldsLocked">
                <option disabled selected>Transportista</option>
                <option>Fedex</option>
                <option>Head</option>
                <option>Otro</option>
            </select>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">OTS</legend>
            <input type="text" class="input" name="ots" [(ngModel)]="incidencia.ots" placeholder="ots" [disabled]="!incidencia.transportista || incidencia.transportista === 'Head'" />
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Fecha de recepcion</legend>
            <input type="date" class="input w-full" [(ngModel)]="incidencia.fechaRecepcion" name="fechaRecepcion" [max]="maxDate" required>
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend" style="margin-right: 50%;" >Imagen</legend>
          <div class="image" style="display: flex; gap: 30px;">
            <input type="file" class="file-input" name="imagen1" (change)="onFileChange($event, 'imagen1')" />
            <input type="file" class="file-input" name="imagen2" (change)="onFileChange($event, 'imagen2')" />
          </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" style="margin-right: 53%;" >Observaciones</legend>
            <textarea class="textarea h-24" name="observaciones" [(ngModel)]="incidencia.observaciones" placeholder="Observación"  ></textarea>
          </fieldset>
          
      </form>
    </div>
    
  </div>
  <div class="flex justify-between space-x-4 mt-6">  
    <button class="btn" (click)="resetForm(incidenciaForm)">Cancelar</button>
    <button class="btn" (click)="navigateTo('/crear-detalle-incidencia')">SIGUIENTE</button>            
  </div>
</div>
