<div class="resumen-incidencias">
    <div class="filters-container">
        <div class="date-filters">
            <div class="filter-group">
                <label>Fecha Recepción</label>
                <label>Desde</label>
                <input type="date" class="date-input" value="{minDate}"  #fechaInput
                [ngClass]="{'text-gray-400': !filtros.fechaDesde && !isFechaDesdeOpen, 'text-black': filtros.fechaDesde || isFechaDesdeOpen}"
                name="fecha" [(ngModel)]="filtros.fechaDesde" (ngModelChange)="aplicarFiltros()">
            </div>
            <div class="filter-group">
                <label>&nbsp;</label>
                <label>Hasta</label>
                <input type="date" class="date-input"  value="" #fechaInput2
                [ngClass]="{'text-gray-400': !filtros.fechaHasta && !isFechaHastaOpen, 'text-black': filtros.fechaHasta || isFechaHastaOpen}"
                name="fecha2" [(ngModel)]="filtros.fechaHasta" (ngModelChange)="aplicarFiltros()">
            </div>
        </div>

        <div class="other-filters">
            <div class="filter-group">
                <label>N° Incidencia</label>
                <input type="text" class="text-input" [(ngModel)]="filtros.numeroIncidencia" (ngModelChange)="aplicarFiltros()">
            </div>
            <div class="filter-group">
                <label>Tipo Incidencia</label>
                <select class="select-input" 
                [ngClass]="{'text-gray-400': !filtros.tipoIncidencia && !isTipoIncidenciaOpen, 'text-black': filtros.tipoIncidencia || isTipoIncidenciaOpen}"
                [(ngModel)]="filtros.tipoIncidencia" (ngModelChange)="aplicarFiltros()" (click)="onSelectOpen('tipoIncidencia')">
                    <option value="">Seleccionar...</option>
                    <option *ngFor="let tipo of tiposIncidencia" [value]="tipo.id">{{tipo.nombre}}</option>
                </select>
            </div>
            <div class="filter-group">
              <label>Bodega Origen</label>
              <select class="select-input"
              [ngClass]="{'text-gray-400': !filtros.origen && !isOrigenOpen, 'text-black': filtros.origen || isOrigenOpen}"
              [(ngModel)]="filtros.origen" 
              (ngModelChange)="aplicarFiltros()" 
              (click)="onSelectOpen('origen')">
        <option value="">Seleccionar...</option>
                  <option *ngFor="let bodega of bodegas" [value]="bodega.id_bodega">{{bodega.id_bodega}} - {{bodega.nombre | initCapFirst}}</option>
              </select> 
            </div>
            <div class="filter-group">
                <label>Bodega Destino</label>
                <select class="select-input"
                [ngClass]="{'text-gray-400': !filtros.destino && !isDestinoOpen, 'text-black': filtros.destino || isDestinoOpen}"
                [(ngModel)]="filtros.destino" 
                (ngModelChange)="aplicarFiltros()" 
                (click)="onSelectOpen('destino')">
          <option value="">Seleccionar...</option>
                    <option *ngFor="let bodega of bodegas" [value]="bodega.nombre">{{bodega.id_bodega}} - {{bodega.nombre | initCapFirst}}</option>
                </select>
            </div>
            <div class="filter-group">
                <label>OTS</label>
                <input type="text" class="text-input" [(ngModel)]="filtros.ots" (ngModelChange)="aplicarFiltros()">
            </div>
            <div class="filter-group">
                <label>Transporte</label>
                <select class="select-input"
                [ngClass]="{'text-gray-400': !filtros.transporte && !isTransporteOpen, 'text-black': filtros.transporte || isTransporteOpen}"
                [(ngModel)]="filtros.transporte" 
                (ngModelChange)="aplicarFiltros()" 
                (click)="onSelectOpen('transporte')">
                    <option value="">Seleccionar...</option>
                    <option *ngFor="let transporte of transportes" [value]="transporte">{{transporte | initCapFirst}}</option>
                </select>
            </div>
            <div class="filter-group">
                <label>Estado</label>
                <select class="select-input" 
                [ngClass]="{'text-gray-400': !filtros.estado && !isEstadoOpen, 'text-black': filtros.estado || isEstadoOpen}"
                [(ngModel)]="filtros.estado" (ngModelChange)="aplicarFiltros()" (click)="onSelectOpen('estado')">
                    <option value="">Seleccionar...</option>
                    <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
                </select>
            </div>
            <!--
            <button class="search-button" (click)="aplicarFiltros()">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
            -->
        </div>

        <div class="export-buttons">
            <button class="export-btn" (click)="exportToExcel()"> 
                EXPORTAR RESUMEN
                <span class="material-symbols-outlined">
                    download
                </span>
            </button>
            <button class="export-btn" (click)="exportToExcel2()"> 
                EXPORTAR DETALLE
                <span class="material-symbols-outlined">
                    download
                </span>
            </button>
        </div>
    </div>

   <!-- Incidencia List -->
<div *ngIf="!isLoading" class="overflow-x-auto w-full">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider text-center">#</th>
          <th (click)="sortTable('id')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>N° Incidencia</span>
              <i class="fas {{ getSortIcon('id') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('fecha_emision')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Fecha Emisión</span>
              <i class="fas {{ getSortIcon('fecha_emision') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('fecha_recepcion')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Fecha Recepción</span>
              <i class="fas {{ getSortIcon('fecha_recepcion') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('usuario')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Usuario</span>
              <i class="fas {{ getSortIcon('usuario') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('origen_id_local')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Bodega Origen</span>
              <i class="fas {{ getSortIcon('origen_id_local') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('destino_id_bodega')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Bodega Destino</span>
              <i class="fas {{ getSortIcon('destino_id_bodega') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('destino')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Nombre Destino</span>
              <i class="fas {{ getSortIcon('destino') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('total_item')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Unidades</span>
              <i class="fas {{ getSortIcon('total_item') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('valorizado')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Valorizado</span>
              <i class="fas {{ getSortIcon('valorizado') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('ots')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>OTS</span>
              <i class="fas {{ getSortIcon('ots') }} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('transportista')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Transporte</span>
              <i class="fas {{ getSortIcon('transportista')}} ml-1"></i>
            </div>
          </th>
          <th (click)="sortTable('tipo_estado')" class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer hover:bg-gray-200">
            <div class="flex items-center justify-center">
              <span>Estado</span>
              <i class="fas {{ getSortIcon('tipo_estado')}} ml-1"></i>
            </div>
          </th>
          <th class="px-3 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider text-center">Acción</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let incidencia of paginatedIncidencias; let i = index" class="hover:bg-gray-50">
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ (currentPage - 1) * itemsPerPage + i + 1 }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ incidencia.id ? 'INC' + incidencia.id.toString() : '' }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ incidencia.fecha_emision | date:'dd/MM/yyyy' }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ incidencia.fecha_recepcion | date:'dd/MM/yyyy' }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ getNombreUsuario(incidencia.id_usuario) || 'N/A' | initCapFirst }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ incidencia.origen_id_local || 'N/A' }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ incidencia.destino_id_bodega || 'N/A' }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ incidencia.destino || 'N/A' | initCapFirst }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ incidencia.total_item || '0' }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ (incidencia.valorizado | currency:'CLP':'symbol-narrow':'1.0-0') || '$0' }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ incidencia.ots || 'N/A' }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              {{ incidencia.transportista || 'N/A' | initCapFirst }}
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              <span [ngClass]="{
                'px-2 py-1 rounded-full text-xs': true,
                'bg-yellow-100 text-yellow-800': incidencia.tipo_estado === 'Pendiente',
                'bg-blue-100 text-blue-800': incidencia.tipo_estado === 'En Revisión',
                'bg-green-100 text-green-800': incidencia.tipo_estado === 'Aceptada',
                'bg-red-100 text-red-800': incidencia.tipo_estado === 'Rechazada'
              }">
                {{ incidencia.tipo_estado | initCapFirst }}
              </span>
            </div>
          </td>
          <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
            <div class="flex items-center justify-center h-full">
              <div class="flex justify-center space-x-1">
                <button (click)="verDetalle(incidencia)" class="btn btn-ghost btn-xs">
                  <i class="fas fa-eye text-blue-500"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <!-- Controles de paginación -->
    <div class="flex justify-center p-4 bg-base-100">
      <div class="join">
        <button 
          class="join-item btn btn-sm" 
          [disabled]="currentPage === 1"
          (click)="currentPage = currentPage - 1">
          «
        </button>
        <button 
          *ngFor="let page of [].constructor(Math.ceil(incidenciasFiltradas.length / itemsPerPage)); let i = index"
          class="join-item btn btn-sm" 
          [class.btn-active]="currentPage === i + 1"
          (click)="currentPage = i + 1">
          {{ i + 1 }}
        </button>
        <button 
          class="join-item btn btn-sm"
          [disabled]="currentPage * itemsPerPage >= incidenciasFiltradas.length"
          (click)="currentPage = currentPage + 1">
          »
        </button>
      </div>
    </div>
</div>
