<div class="resumen-incidencias">
    <div class="filters-container">
        <div class="date-filters">
            <div class="filter-group">
                <label>Desde</label>
                <input type="date" class="date-input" [(ngModel)]="filtros.fechaDesde">
            </div>
            <div class="filter-group">
                <label>Hasta</label>
                <input type="date" class="date-input" [(ngModel)]="filtros.fechaHasta">
            </div>
        </div>

        <div class="other-filters">
            <div class="filter-group">
                <label>N° Incidencia</label>
                <input type="text" class="text-input" [(ngModel)]="filtros.numeroIncidencia">
            </div>
            <div class="filter-group">
                <label>Tipo Incidencia</label>
                <select class="select-input" [(ngModel)]="filtros.tipoIncidencia">
                    <option value="">Seleccionar...</option>
                    <option *ngFor="let tipo of tiposIncidencia" [value]="tipo">{{tipo}}</option>
                </select>
            </div>
            <div class="filter-group">
                <label>Destino</label>
                <select class="select-input" [(ngModel)]="filtros.destino">
                    <option value="">Seleccionar...</option>
                    <option *ngFor="let bodega of bodegas" [value]="bodega.id">{{bodega.nombre | initCapFirst}}</option>
                </select>
            </div>
            <div class="filter-group">
                <label>OTS</label>
                <input type="text" class="text-input" [(ngModel)]="filtros.ots">
            </div>
            <div class="filter-group">
                <label>Transporte</label>
                <select class="select-input" [(ngModel)]="filtros.transporte">
                    <option value="">Seleccionar...</option>
                    <option *ngFor="let transporte of transportes" [value]="transporte">{{transporte}}</option>
                </select>
            </div>
            <div class="filter-group">
                <label>Estado</label>
                <select class="select-input" [(ngModel)]="filtros.estado">
                    <option value="">Seleccionar...</option>
                    <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
                </select>
            </div>
            <!--
            <button class="search-button" (click)="aplicarFiltros()">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
            -->
        </div>

        <div class="export-buttons">
            <button class="export-btn"> 
                EXPORTAR RESUMEN
                <span class="material-symbols-outlined">
                    download
                </span>
            </button>
            <button class="export-btn"> 
                EXPORTAR DETALLE
                <span class="material-symbols-outlined">
                    download
                </span>
            </button>
        </div>
    </div>

   <!-- Incidencia List -->
<div *ngIf="!isLoading" class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>N° Incidencia</th>
          <th>Fecha Emisión</th>
          <th>Fecha Recepción</th>
          <th>Bodega Origen</th>
          <th>Bodega Destino</th>
          <th>Nombre Destino</th>
          <th>Unidades</th>
          <th>Valorizado</th>
          <th>OTS</th>
          <th>Transporte</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incidencia of paginatedIncidencias; let i = index">
          <th>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</th>
          <td>{{ "INC"+incidencia.id }}</td>
          <td>{{ incidencia.fecha_emision | dateFormat}}</td>
          <td>{{ incidencia.fecha_recepcion | dateFormat}}</td>
          <td>{{ incidencia.origen_id_local }}</td>
          <td>{{ incidencia.destino_id_bodega }}</td>
          <td>{{ incidencia.destino! | initCapFirst}}</td>
          <td>{{ incidencia.ots }}</td>
          <td>{{ incidencia.id_estado }}</td>
          <td>{{ incidencia.ots }}</td>
          <td>{{ incidencia.transportista }}</td>
          <td>{{ incidencia.tipo_estado | initCapFirst}}</td>
          <td>
            <button (click)="verDetalle(incidencia)" class="btn btn-ghost btn-xs">
                <span class="material-symbols-outlined text-blue-500">visibility</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- Controles de paginación -->
    <div class="flex justify-center p-4 bg-base-100">
      <div class="join">
        <button 
          class="join-item btn btn-sm" 
          [disabled]="currentPage === 1"
          (click)="currentPage = currentPage - 1">
          «
        </button>
        <button 
          *ngFor="let page of [].constructor(Math.ceil(incidenciasFiltradas.length / itemsPerPage)); let i = index"
          class="join-item btn btn-sm" 
          [class.btn-active]="currentPage === i + 1"
          (click)="currentPage = i + 1">
          {{ i + 1 }}
        </button>
        <button 
          class="join-item btn btn-sm"
          [disabled]="currentPage * itemsPerPage >= incidenciasFiltradas.length"
          (click)="currentPage = currentPage + 1">
          »
        </button>
      </div>
    </div>
  </div>
</div>
