<div class="h-full bg-[#00C2C9] flex items-center justify-center">
  <div class="hero ">
    <div class="hero-content flex flex-col lg:flex-row-reverse h-full">
      <div class="text-center lg:text-left h-full flex flex-col justify-center">
        <h1 class="text-5xl font-bold text-white">Iniciar Sesión</h1>
        <p class="py-6 text-white">
          Ingrese sus datos para iniciar sesión.
        </p>
      </div>
      <div class="card bg-gray-200 w-full h-full max-w-sm shrink-0 shadow-2xl">
        <div class="card-body h-full flex flex-col justify-center">
          <fieldset class="fieldset">
            <label class="label font-semibold">Usuario</label>
            <input type="text" class="input placeholder-gray-400" placeholder="Ingrese su usuario" />
            <label class="label font-semibold">Contraseña</label>
            <input type="password" class="input placeholder-gray-400" placeholder="Ingrese su contraseña" />
            <div><a class="link link-hover">¿Olvidó su contraseña?</a></div>
            <button class="btn mt-4 bg-orange-500 border-none text-white hover:bg-orange-600">Iniciar Sesión</button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>