<div class="w-full min-h-screen flex flex-col">
    <div class="navbar bg-base-100 shadow-sm px-8 cursor-pointer" (click)="navigateToHome()">
        <img src="/assets/images/Head-Logo-1950.png" alt="Logo" class="h-20">
        <div class="flex flex-col ml-4">
            <p class="text-lg">Sistema de Control de</p>
            <p class="text-m">Incidencias de Mercadería</p>
        </div>
    </div>
    <div class="flex-grow">
        <router-outlet></router-outlet>
    </div>
    <footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
        <aside>
            <p>Copyright 2025 - Todos los derechos reservados</p>
        </aside>
    </footer>
</div>