<div class="grid grid-cols-3 gap-8 p-8 h-[calc(100vh-6rem)]">
  <div (click)="navigateTo('/ver-incidencias')" class="card resumen-incidencias flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        assignment
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Resumen de Incidencias
        </h2>
      </div>
    </div>
  </div>

  <div (click)="navigateTo('/incidencias-sin-resolver')" class="card incidencias-sin-resolver flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        pending
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Incidencias Sin Resolver          
        </h2>
      </div>
    </div>
  </div>

  <div (click)="navigateTo('/crear-incidencia')" class="card crear-incidencia flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        add_circle_outline
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Crear Incidencia
        </h2>
      </div>
    </div>
  </div>

  <div (click)="navigateTo('/reclamos-transportista')" class="card reclamos-transportista flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        delivery_truck_speed
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Incidencias con Reclamo
        </h2>
      </div>
    </div>
  </div>

  <div (click)="navigateTo('/reportes-incidencias')" class="card reportes-incidencias flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        finance
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Reportes de Incidencias
        </h2>
      </div>
    </div>
  </div>

  <div [style.opacity]="user.id_rol !== 1 ? 0.5 : 1" [style.pointerEvents]="user.id_rol !== 1 ? 'none' : 'auto'" (click)="user.id_rol === 1 && navigateTo('/administrar-usuarios')" class="card administrar-usuarios flex-grow">
    <div class="card-content">      
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        manage_accounts
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Administrar Usuarios          
        </h2>
      </div>
    </div>
  </div>
</div>