<!-- Pantalla de carga -->
<div *ngIf="isLoading" class="fixed inset-0 bg-[#f5f5f5] bg-opacity-90 flex items-center justify-center z-50">
    <div class="text-center">
        <div class="loading loading-spinner loading-lg" style="color: #00bcd4;"></div>
        <p class="mt-2 text-gray-600">Cargando ...</p>
    </div>
</div>

<!-- Contenido principal -->
<div class="grid grid-cols-3 gap-8 p-8 h-[calc(100vh-6rem)]" [class.opacity-0]="isLoading" [class.invisible]="isLoading">
  <!-- Resumen de Incidencias siempre visible para todos -->
  <div (click)="navigateTo('/ver-incidencias')" class="card resumen-incidencias flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        assignment
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Resumen de Incidencias
        </h2>
      </div>
    </div>
  </div>

  <!-- Agregar *ngIf para controlar visibilidad -->
  <div *ngIf="canAccessIncidenciasSinResolver()" (click)="onResolverIncidenciasClick()" class="card incidencias-sin-resolver flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        pending
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Resolver Incidencias        
        </h2>
      </div>
    </div>
  </div>

  <!-- Botón de Crear Incidencia -->
  <div *ngIf="canAccessCrearIncidencia()" (click)="onCreateIncidenciaClick()" class="card crear-incidencia flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        add_circle_outline
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Crear Incidencia
        </h2>
      </div>
    </div>
  </div>

  <!-- Solo gestor, tienda y admin ven este panel -->
  <div *ngIf="canAccessIncidenciasReclamo()" (click)="onReclamoTransportistaClick()" class="card reclamos-transportista flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        delivery_truck_speed
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Reclamo a Transportista
        </h2>
      </div>
    </div>
  </div>

  <!-- Solo gestor y admin ven este panel -->
  <div *ngIf="canAccessReportesIncidencias()" (click)="navigateTo('/reportes-incidencias')" class="card reportes-incidencias flex-grow">
    <div class="card-content">
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        finance
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Reportes de Incidencias
        </h2>
      </div>
    </div>
  </div>

  <!-- Solo admin ve este panel -->
  <div *ngIf="canAccessAdministrarUsuarios()" (click)="navigateTo('/administrar-usuarios')" class="card administrar-usuarios flex-grow">
    <div class="card-content">      
      <span style="font-size: 5rem; color: rgba(255, 255, 255, 0.801);" class="material-symbols-outlined">
        manage_accounts
      </span>
      <div class="card-body">
        <h2 class="card-title">
          Administrar Usuarios          
        </h2>
      </div>
    </div>
  </div>
</div>